$ffcdd2: #ffcdd2;
$f8bbd0: #f8bbd0;
$e1bee7: #e1bee7;
$c5cae9: #c5cae9;
$bbdefb: #bbdefb;
$b2ebf2: #b2ebf2;
$b2dfdb: #b2dfdb;
$dcedc8: #dcedc8;
$f0f4c3: #f0f4c3;
$fff9c4: #fff9c4;
$ffecb3: #ffecb3;
$ffe0b2: #ffe0b2;
$ffccbc: #ffccbc;
$d7ccc8: #d7ccc8;
$cfd8dc: #cfd8dc;
$ef9a9a: #ef9a9a;
$f48fb1: #f48fb1;
$ce93d8: #ce93d8;
$nfa8da: #9fa8da;
$n0caf9: #90caf9;
$e0deea: #80deea;
$e0cbc4: #80cbc4;
$c5e1a5: #c5e1a5;
$e6ee9c: #e6ee9c;
$fff59d: #fff59d;
$ffe082: #ffe082;
$ffcc80: #ffcc80;
$ffab91: #ffab91;
$bcaaa4: #bcaaa4;
$b0bec5: #b0bec5;
$ef5350: #ef5350;
$ec407a: #ec407a;
$ab47bc: #ab47bc;
$fc6bc0: #5c6bc0;
$f2a5f5: #42a5f5;
$t6c6da: #26c6da;
$t6a69a: #26a69a;
$nccc65: #9ccc65;
$d4e157: #d4e157;
$ffee58: #ffee58;
$ffca28: #ffca28;
$ffa726: #ffa726;
$ff7043: #ff7043;
$nd6e63: #8d6e63;
$s8909c: #78909c;
$d32f2f: #d32f2f;
$c2185b: #c2185b;
$sb1fa2: #7b1fa2;
$t03f9f: #303f9f;
$o976d2: #1976d2;
$z097a7: #0097a7;
$z0796b: #00796b;
$s89f38: #689f38;
$afb42b: #afb42b;
$fbc02d: #fbc02d;
$ffa000: #ffa000;
$f57c00: #f57c00;
$e64a19: #e64a19;
$fd4037: #5d4037;
$f55a64: #455a64;
